<%- include('../partials/header') %>


<h2><%= title %></h2>

<h1>Your Spellasting characters and their spellbooks</h1>

<table style="width:100%">
    <tr>
      <th>Character Name:</th>
      <th>Class 1</th>
      <th>Class 2</th>
      <th>Class 3</th>
    </tr>
    <% characters.forEach(function(char) { %>

        <td><%= char.name %></td>
        <td><%= char.class1 %></td>
        <td><%= char.class2 %></td>
        <td><%= char.class3 %></td>
        <td><a href="/characters/<%=char._id%>/show">Go to Spellbooks</a>&nbsp;|&nbsp;<a href="/characters/<%=char._id%>/edit">Edit</a></td>
        <td>
          <form action="/characters/<%=char._id%>?_method=DELETE" method="POST">
            <button class="red-button" type="submit">X</button>
          </form>
      </td>
    </tr>
    <%})%>
  </table>

<a href="/characters/newChar">Add new Character</a></nav>


   </form>