<%- include('../partials/header') %>

<h2><%= char.name %>'s Spellbook</h2>
<ul>
    
    
    <li><%= char.class1 %></li>
    <li><%= char.class2 %></li>
    <li><%= char.class3 %></li>
    
</ul>

<ul id="spellsAvailible">
    <li><h3></h3></li>

</ul>
<form action="/characters/:id" method="POST" >
    New SpellBook Class: <input  type="text" name="name"><br>
    Highest SpellCast: <input type="text" name="level"><br>
    restricted: <input type="text" name="restricted">
    <button class="submit-button" type="submit">Submit</button></form>
<br>
<br>


<form action="/characters/:id/show" method="POST" >
    New Spell: <input type="text" name="name">
    
    <button class="submit-button" type="submit">Submit</button></form>
<br>
<br>
    <table style="width:100%">
        <tr>
          <th>SpellBook type</th>
          <th>Highest Level</th>
          <th>Restricted Schools</th>
        </tr>
        <%// book.forEach(function(b) { %>
            <td><%//=b.name %></td>
            <td><%//=b.maxlevel %></td>
            <td><%//= b.restrictedSchool %></td>
              </form>
          </td>
        </tr>
        <%//})%>
      </table>