<%- include('../partials/header') %>

<h1> Your Spell Books</h1>

<h2><%= charName.name %>' spellbooks</h2>
<ul>
    
    
    <li><%=charName.class1 %></li>
    <li><%=charName.class2 %></li>
    <li><%=charName.class3 %></li>
    
</ul>

<ul id="spellsAvailible">
    <li><h3>$Spells Availible$</h3></li>

</ul>

<form action="/spellbook/<%= charName.id%>/create" method="POST" >
    New SpellBook Class: <input  type="text" name="class"><br>
    Highest SpellCast: <input type="number" name="maxlevel"><br>
    restricted: <input type="text" name="restrictedSchools">
    <button class="submit-button" type="submit">Submit</button></form>
<br>
<br>


<form action="/characters/:id/show" method="POST" >
    New Spell: <input type="text" name="name">
    
    <button class="submit-button" type="submit">Submit</button></form>
<br>
<br>
    <table style="width: 500px; align-content: center;">
          <th>SpellBook type</th>
          <th>Highest Level</th>
          <th>Restricted Schools</th>
        </th>
        <% if (charName.spellbooks.length > 0 ){ %>
        <tbody style="text-align: center;">
                <% bDeats.forEach(function(bd){ %> 
                    <% if ( charName.spellbooks.includes(bd.id) == true ) { %>
                    
            <tr>
                <td><%= bd.class %></td>
                <td><%= bd.maxlevel %></td>
                <td><%= bd.restrictedSchools %></td>
            <% } %>
            <% }) %> 
            </tr>
        </tbody>

            <%} else { %>
                <h3>There are no spellbooks yet</h3>
            <% } %>
        

           
      </table>
    


   